body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background-color: rgb(102, 98, 98);
    color: white;
    margin: auto;
}

.header {
    margin-bottom: 10px;
    padding: 10px;
}

.root {
    width: 1400px;
}



